@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import "~prismjs/themes/prism-okaidia.css";

pre[class*="language-"] {
  background: #393a3c;
}

$fullhd-enabled: false;
$widescreen-enabled: false;
$link: #77dd77;
$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1rem;

$body-line-height: 1.7;

.extra-class {
  margin-bottom: 1em;
}

svg.icon.outbound {
  display: none;
}

.logo {
  font-weight: 600;
  line-height: 1.125;
  font-size: 3rem;
}

.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

@import '~bulma';
