@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$fullhd-enabled: false;
$widescreen-enabled: false;
$link: $green;

.nuxt-link-exact-active {
  @extend .is-active;
}

@import '~bulma';